<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="camera">
        <visual>
            <geometry> 
                <box size="${0.03 * scale} ${0.03 * scale} ${0.013 * scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="black"/>     
        </visual>
        <collision>
            <geometry> 
                <box size="${0.03 * scale} ${0.03 * scale} ${0.013 * scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </collision>
        
        <xacro:box_inertial m="${0.1 * scale * scale * scale}" x="${0.03 * scale}" y="${0.03 * scale}" z="${0.013 * scale}" o_xyz="0 0 0" o_rpy="0 0 0"/>
    </link>

    <joint name="camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera"/>
        
        <origin xyz="${0.12 * scale} 0 ${0.015 * scale}" rpy="0 0 0"/>
    </joint>

    <gazebo reference="camera">
        <sensor name="camera" type="camera">
            <pose>0.12 0 0.015 0 0 0</pose>
                <topic>camera/image_raw</topic>
                <update_rate>30</update_rate>
                <camera>
                <horizontal_fov>1.047</horizontal_fov>
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>R8G8B8</format>
                        </image>
                        <clip>
                            <near>0.1</near>
                            <far>15</far>
                        </clip>
                        <noise>
                            <type>gaussian</type>
                            <mean>0.0</mean>
                            <stddev>0.007</stddev>
                        </noise>
                        <optical_frame_id>camera</optical_frame_id>
                        <camera_info_topic>camera/camera_info</camera_info_topic>
                    </camera>
                    <always_on>1</always_on>
                <visualize>true</visualize>
        </sensor>
    </gazebo>
</robot>