<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="front_left_wheel">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <friction>0.5</friction>
    </gazebo>
    
    <gazebo reference="front_right_wheel">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <friction>0.5</friction>
    </gazebo>


    <gazebo>
        <plugin 
            filename="gz-sim-diff-drive-system"
            name="gz::sim::systems::DiffDrive">
            <left_joint>rear_left_wheel_joint</left_joint>
            <right_joint>rear_right_wheel_joint</right_joint>
            <wheel_seperation>0.2172</wheel_seperation>
            <wheel_radius>0.0325</wheel_radius>
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
        </plugin>

        <plugin 
            filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
            <joint_name>rear_left_wheel_joint</joint_name>
            <joint_name>rear_right_wheel_joint</joint_name>
    
        </plugin>

    </gazebo>
</robot>